global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'portfolio-domains'
    static_configs:
      - targets: ['portfolio-app:80', 'fixie-run-app:80', 'seobiz-saas:80', 
                  'tech-review-blog:80', 'rhymechain-nft:80', 'ai-platform:80', 
                  'puffs-store:80', 'affinitylove:80']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
